<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Display Webcam Stream</title>
 
<style>
#container {
	margin: 0px auto;
	width: 240px;
	height: 180px;
	border: 10px #333 solid;
}
#container2 {
	margin: 0px auto;
	width: 240px;
	height: 180px;
	border: 10px #333 solid;
}
#videoElement {
	width: 240px;
	height: 180px;
	background-color: #666;
}
#container:before {
    position: absolute;
    content:"";
    height: 150px;
    width: 150px;
    margin-left: 45px;
	margin-top: 15px;
    border: 2px #333 solid;
}
#container2:before {
    position: absolute;
    content:"";
    height: 150px;
    width: 150px;
    margin-left: 45px;
	margin-top: 15px;
    border: 2px #FF0000 solid;
}
table.a {
  font-style: normal;
  font-family:Verdana, Geneva, sans-serif;
}

</style>
<style>
.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:315;
    width:420;
}
</style>
</head>
 
<body>
<center>
<form method = "POST" id = "myForm">
<!--	
 <input type="radio" id="box" name="selectype" value="Phonics">
	      <label for="html">Phonics</label><br>
	      <input type="radio" id="css" name="selectype" value="FCD">
	      <label for="css">FCD</label><br>
	      <input type="submit">
<br />
<table>
  
<Tr>
<td><input type="radio" id="Story" name="contenttype" value="Story">
	      <label for="html">Story</label><br>
	      <input type="radio" id="Toys" name="contenttype" value="Toys">
	      <label for="css">Toys</label><br></td>
</tr>
</table>
 -->
<div id="scanpart" style="display:block">
<table>
  
<Tr>
<td>

<div id="container" style="display:block"><video autoplay id="videoElement"></video></div>
<div id="container2" style="display:none"><canvas id="canvas" width="240" height="180"></canvas><br>
</div>
<center>
<progress value="0" max="3" id="progressBar"></progress>
</center>
</td>
</tr>
</table>
<br><Br>
<!--<input type="button" name="butajax2" id="butajax2" value="Scan And Play">-->
<input type="button" name="butcancel" id="butcancel" value="Cancel">

<br>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script>
var video = document.querySelector("#videoElement");
var click_button3 = document.querySelector("#butajax2");
var cancel_but = document.querySelector("#butcancel");		
var canvas = document.querySelector("#canvas");
var counter = 0;
var checkcounter = 0;
var videolink1="";
var videolink2="";

videolink1="https://www.youtube.com/embed/IAajIQD1u0w";
videolink2="https://www.youtube.com/embed/yspuR0q3v9I";

var counter=1;
const myInterval = setInterval(myTimer, 5000);

	if (navigator.mediaDevices.getUserMedia) {
  navigator.mediaDevices.getUserMedia({ video: true })
    .then(function (stream) {
      video.srcObject = stream;
    })
    .catch(function (err0r) {
      console.log("Something went wrong!");
    });
}
cancel_but.addEventListener('click', function() 
	{
	counter=0;
	document.getElementById("scanpart").style.display = "none";
	document.getElementById("contentpart").style.display = "block";
	
	}
)
click_button3.addEventListener('click', function() {
	canvas.style.display="block";
   	canvas.getContext('2d').drawImage(video, 0, 0, canvas.width, canvas.height);
	let image_data_url = canvas.toDataURL('image/jpeg');
	//canvas.style.display="none";
	$.ajax({type:'POST',
		url: '/api/checkanswer',
		data:{
		  todo:image_data_url
		},
		success: function(data) {
			
			//https://www.youtube.com/embed/Cw12PDfFXxc - A
			//https://www.youtube.com/embed/0A-ZEDl4zGo - B
			//document.getElementById("mypic").src="data:image/jpeg;base64,"+data;
			if (data=="NA")
			{
			}else
			{
				document.getElementById("container").style.display = "none";
				document.getElementById("container2").style.display = "block";
				var timeleft = 3;
				var downloadTimer = setInterval(function(){
				  if(timeleft <= 0){
					clearInterval(downloadTimer);
						if (data=="M2_1")
					{
						videolink1="https://www.youtube.com/embed/6DC3EjjKkc4";
						videolink2="https://www.youtube.com/embed/-Ax2yCETXkM";
						document.getElementById('title').innerHTML="The Golden Beach";
						document.getElementById('subtitle1').innerHTML="The frog";
						document.getElementById('subtitle2').innerHTML="The frogs are leaping";	
					}else if(data=="M7_2")
					{
						videolink1="https://www.youtube.com/embed/FEldwXKxCmI";
						videolink2="https://www.youtube.com/embed/kWGqKKIsSoU";
						document.getElementById('title').innerHTML="The Garden";
						document.getElementById('subtitle1').innerHTML="The maple leaf";
						document.getElementById('subtitle2').innerHTML="Decorating the maple leaf";
					}else if(data=="M8_2")
					{
						videolink1="https://www.youtube.com/embed/mhfEjBpULzA";
						videolink2="https://www.youtube.com/embed/CyzkUa1jLG8";
						document.getElementById('title').innerHTML="The Performance";
						document.getElementById('subtitle1').innerHTML="Maracas";
						document.getElementById('subtitle2').innerHTML="The finger castanat & maracas";
	
					}else
					{
						console.log("Item not recognised, please scan another item.");
					}
					
					document.getElementById("typlayer").src=videolink1 + "?autoplay=1";
					document.getElementById("scanpart").style.display = "none";
					document.getElementById("contentpart").style.display = "block";
					document.getElementById("progressBar").value = 3;
					
				  }
				  document.getElementById("progressBar").value = 3 - timeleft;
				  timeleft -= 1;
				}, 1000);
				
			}
			
		}
	});
	
	
	
	

});
function showstory()
{
	document.getElementById("typlayer").src=videolink1 + "?autoplay=1";
}

function showtoys()
{
	document.getElementById("typlayer").src=videolink2 + "?autoplay=1";
}

function showscan()
{
	document.getElementById("scanpart").style.display = "block";
	document.getElementById("contentpart").style.display = "none";
	document.getElementById("container").style.display = "block";
	document.getElementById("container2").style.display = "none";
	document.getElementById("progressBar").value = 0;
	counter=1;
}



function myTimer() {
  if (counter==1)
  {
	console.log("abc");
	counter=0;
	canvas.style.display="block";  
	canvas.getContext('2d').drawImage(video, 0, 0, canvas.width, canvas.height);
	let image_data_url = canvas.toDataURL('image/jpeg');
	$.ajax({type:'POST',
		url: '/api/checkanswer',
		data:{
		  todo:image_data_url
		},
		success: function(data) {
			 if (data=="NA")
			 {
				 counter=1;
			 }else
			 {
				 document.getElementById("container").style.display = "none";
					document.getElementById("container2").style.display = "block";
					var timeleft = 3;
					var downloadTimer = setInterval(function(){
					  if(timeleft <= 0){
						clearInterval(downloadTimer);
							if (data=="M2_1")
						{
							videolink1="https://www.youtube.com/embed/6DC3EjjKkc4";
							videolink2="https://www.youtube.com/embed/-Ax2yCETXkM";
							document.getElementById('title').innerHTML="The Golden Beach";
							document.getElementById('subtitle1').innerHTML="The frog";
							document.getElementById('subtitle2').innerHTML="The frogs are leaping";	
						}else if(data=="M7_2")
						{
							videolink1="https://www.youtube.com/embed/FEldwXKxCmI";
							videolink2="https://www.youtube.com/embed/kWGqKKIsSoU";
							document.getElementById('title').innerHTML="The Garden";
							document.getElementById('subtitle1').innerHTML="The maple leaf";
							document.getElementById('subtitle2').innerHTML="Decorating the maple leaf";
						}else if(data=="M8_2")
						{
							videolink1="https://www.youtube.com/embed/mhfEjBpULzA";
							videolink2="https://www.youtube.com/embed/CyzkUa1jLG8";
							document.getElementById('title').innerHTML="The Performance";
							document.getElementById('subtitle1').innerHTML="Maracas";
							document.getElementById('subtitle2').innerHTML="The finger castanat & maracas";
		
						}else
						{
							console.log("Item not recognised, please scan another item.");
						}
						
						document.getElementById("typlayer").src=videolink1 + "?autoplay=1";
						document.getElementById("scanpart").style.display = "none";
						document.getElementById("contentpart").style.display = "block";
						counter=0;
						
					  }
					  document.getElementById("progressBar").value = 3 - timeleft;
					  timeleft -= 1;
					}, 1000);
			 }
		}
	 });
  }
  
}



</script>
<input type="hidden" name="txt64" id="txt64">
<!--<img src="data:image/jpeg;base64,{{ user_image }}" alt="User Image" width="240" id="mypic">-->

</form>


<div id="contentpart" style="display:none">
<table class="a" border="0">
<tr><td colspan="4">
<table width="100%">
<tr align="center"><td width="25%">Back</td><td colspan="2"><font size="+2" color="#FF0000" ><b><span id="title">At The Seaside</span></b></font></td><td  width="25%"><a href="javascript:showscan();">Scan</a></td></tr>

</table>
</td></tr>
<tr align="center"><td width="48%"><a href="javascript:showstory();">Story</a></td><td width="4%" colspan="2" align="center">|</td><td width="48%"><a href="javascript:showtoys();">Toy</a></td></tr>
<tr align="center" valign="top"><td width="48%"><span id="subtitle1">Save the fish</span></td><td width="4%" colspan="2"></td><td width="48%"><span id="subtitle2">Press the clay on to the fish mold</span></td></tr>
</table>
<div id="tab_yt" style="display:block">
    	<div class="video-responsive">
            <iframe id="typlayer" width="800" height="600" src="https://www.youtube.com/embed/yspuR0q3v9I" title="YouTube video player" frameborder="0" allowfullscreen></iframe>
        </div>
</div>

</div>

</center>	
</body>
</html>
